@import "../deskpro/variables";
$dp-sonic-primary: map_get($dp-colors, 'dp-sonic-primary');
$dp-greyscale-400: map_get($dp-colors, 'dp-greyscale-400');
$dp-greyscale-950: map_get($dp-colors, 'dp-greyscale-950');

$light-blue: #E9F7FF;
$options-menu-transition: all 0.25s ease-in;
$options-menu-width: 3em;

@mixin border-via-box-shadow($color, $top: '', $right: '', $bottom: '', $left : '')
{
  @if ($top == '') {
    $top: $color;
  }
  @if ($right == '') {
    $right: $color;
  }
  @if ($bottom == '') {
    $bottom: $color;
  }
  @if ($left == '') {
    $left: $color;
  }

  @if $color == none {
    box-shadow: none;
  } @else {
    box-shadow:
      0 1px 0 0 $top inset, /* top */
      -1px 0 0 0 $right inset, /* right */
      0 -1px 0 0 $bottom inset, /* bottom */
      1px 0 0 0 $left inset /* left */
    ;
  }
}

.trelloapp-card-list .options-hint
{
  position: absolute;
  z-index: 2;
  right: -1 * $options-menu-width;
  top: 0;
  bottom: 0;

  width: $options-menu-width;
  @include border-via-box-shadow($dp-sonic-primary);

  color: $dp-greyscale-950;
  background-color: rgba(255,255,255, 1);

  transition: $options-menu-transition;

  &:hover { background-color: $light-blue; }

  &:hover ~ .options:not(:hover) { left: 80%; }

}

.trelloapp-card-list .options
{
  position: absolute;
  z-index: 4;
  left: 100%;
  top: 0;
  bottom: 0;

  width: $options-menu-width;
  transition: $options-menu-transition;

  &:hover { left: 80%; }

  > nav
  {
    position: absolute;

    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    border: solid 1px $dp-sonic-primary;
    border-right-width: 0;
    box-shadow: -1px 0 0 0 $dp-sonic-primary inset; /* right */
    border-radius: 0.285714rem;

    padding: 0.25em;
    background-color: rgba(255,255,255, 1);

    i.option
    {
      color: $dp-greyscale-400;
      display: block;
      text-align: left;

      margin-bottom: 0.25em;

      &:last-child { margin-bottom: 0; }

      &:hover { color: $dp-sonic-primary; }
    }
  }
}

.trelloapp-card-list
{
  position: relative;
  border-radius: 0.285714rem;
  border: solid 1px #dedede;
  @include border-via-box-shadow(transparent);
  &:hover { @include border-via-box-shadow($dp-sonic-primary); }
}

.trelloapp-card-list .trelloapp-card-list-item
{
  position: relative;
  overflow: hidden;

  @include border-via-box-shadow($color: transparent, $bottom: #CCCCCC);

  padding-left: 0.5em;
  line-height: 1.5em;

  .content span.long-content
  {
    display: inline-block;
    overflow: hidden;
    width: 95%;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card-title, .board-name, .list-name
  {
    border: 0;
    padding: 0;

    font-weight: bold;
  }

  .list-name { max-width: 50px; }

  &:last-child {
    @include border-via-box-shadow($color: transparent);
  }

  &:hover {
    @include border-via-box-shadow($dp-sonic-primary);
    background-color: $light-blue;

    .options-hint { right: 0; }
    > div:hover .options-hint { opacity:0; }
    .card-title, .board-name, .list-name, .content { color: $dp-sonic-primary }
  }
}

.trelloapp-card-list.borderless
{
  border: none;
  &:hover { @include border-via-box-shadow(none); }
}

.trelloapp-card-list.borderless .options-hint
{
  box-shadow:
    0 1px 0 0 $dp-sonic-primary inset, /* top */
    0 -1px 0 0 $dp-sonic-primary inset, /* bottom */
    1px 0 0 0 $dp-sonic-primary inset /* left */
  ;

}

.trelloapp-card-list.borderless .trelloapp-card-list-item
{
  &:hover {
    box-shadow:
      0 1px 0 0 $dp-sonic-primary inset, /* top */
      0 -1px 0 0 $dp-sonic-primary inset, /* bottom */
    ;
  }
}

.trelloapp-card-list .trelloapp-card-list-item.link {
  cursor: pointer;
}
